Defaults	env_reset
Defaults        timestamp_timeout=60
Defaults	editor=/usr/bin/emacs
Defaults	mail_badpass
Defaults	secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"

root	ALL=(ALL:ALL) ALL
%admin  ALL=(ALL) ALL
%sudo	ALL=(ALL:ALL) ALL
vagrant ALL=(ALL) NOPASSWD:ALL
